<MudPaper Elevation=4 Class="my-2 mt-0">

    <div style="display: flex; gap: 10%;">
        <MudGrid>
            <MudItem xs="1" lg="9">
                <table style="border: none; margin:10px;border-spacing: 10px;width:100%">
                    <colgroup>
                        <col style="width: 25%;">
                        <col style="width: 25%;">
                        <col style="width: 25%;">
                        <col style="width: 25%;">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td style="width:25%">
                                <MudStack Row AlignItems="AlignItems.Center">
                                     <MudIcon Color=Color.Primary Size="Size.Small" Icon="@Icons.Material.Outlined.House" />
                                     <MudText Typo="Typo.subtitle1">Document numnber</MudText>
                                 </MudStack>
                             </td>
                             <td style="width:25%">
                                 <MudText Class="mud-text-secondary" Typo="Typo.subtitle1">@Dto.DocumentNumber</MudText>
                             </td>
                         </tr>
                        <tr>
                            <td style="width:25%">
                                <MudStack Row AlignItems="AlignItems.Center">
                                     <MudIcon Color=Color.Primary Size="Size.Small" Icon="@Icons.Material.Outlined.House" />
                                     <MudText Typo="Typo.subtitle1">File Name</MudText>
                                 </MudStack>
                             </td>
                             <td style="width:25%">
                                 <MudText Class="mud-text-secondary" Typo="Typo.subtitle1">@Dto.FileName</MudText>
                             </td>
                             <td style="width:25%">
                                 <MudStack Row AlignItems="AlignItems.Center">
                                     <MudIcon Color=Color.Primary Size="Size.Small" Icon="@Icons.Material.Outlined.CorporateFare" />
                                     <MudText Typo="Typo.subtitle1">File Size</MudText>
                                 </MudStack>
                             </td>
                             <td style="width:25%">
                                 <MudText Class="mud-text-secondary" Typo="Typo.subtitle1">@(Dto.FileSize + " B")</MudText>
                             </td>
                         </tr>
                         <tr>
                             <td style="width:25%">
                                 <MudStack Row AlignItems="AlignItems.Center">
                                     <MudIcon Color=Color.Primary Size="Size.Small" Icon="@Icons.Material.Outlined.House" />
                                     <MudText Typo="Typo.subtitle1">File Accounter Name</MudText>
                                 </MudStack>
                             </td>
                             <td style="width:25%">
                                 <MudText Class="mud-text-secondary" Typo="Typo.subtitle1">@(Dto.FileAccounter?.Name ?? string.Empty)</MudText>
                                </td>

                                <td style="width:25%">
                                    <MudStack Row AlignItems="AlignItems.Center">
                                     <MudIcon Color=Color.Primary Size="Size.Small" Icon="@Icons.Material.Outlined.House" />
                                     <MudText Typo="Typo.subtitle1">Created At</MudText>
                                 </MudStack>
                             </td>
                             <td style="width:25%">
                                 <MudText Class="mud-text-secondary" Typo="Typo.subtitle1">@Dto.ReadAt</MudText>
                             </td>
                         </tr>

                     </tbody>
                 </table>
             </MudItem>
         </MudGrid>
     </div>
 </MudPaper>